.formsControl.error input,
.error textarea {
    border: solid coral 2px;
}

.formsControl.error span {
    color: coral;
}

.formSummaryError {
    border: solid coral 2px;
    padding: 5px;
    color: coral;
    width: fit-content;
}