.app_nav {
    grid-area: nav;
    background-color:cadetblue;
    height: 100%;
  }

.item {
  color: white;
  text-decoration: none;

  padding-left: 5px;
}

.item .active {
  color:coral;

  padding-left: 5px;
}