.profile_wrapper{
    color: lightgray;
}

.autor{

    display: grid;

  grid-template-areas: 
     "img description";
  grid-template-columns: auto 100%;
  grid-gap: 10px;

  background-color: grey;
  
}

.autor img{
    grid-area: img;
    background-color: lightgrey;
    height: 200px;
}

.autor_description{
    grid-area: description;

    color: white;
    
}

.contacts {
    margin-left: 25px;
}