.Dialogs {
    display: grid;



    grid-template-columns: 1fr 4fr;
}

.Dialog_items {
    padding-left: 10px;

    
}

.Dialog {
    color: wheat;
    text-decoration: none;
}

.Dialog .active{

}

.Messages {
    padding-left: 10px;
    background-color: darkgray;
}

.Messages .Message {

}
